/* NOTE : BE CAREFULL TO USE A CSS*/
@media only screen and (min-width: 320px) and (max-width: 420px){
	body {
		width: 100%;
	}

	/* navbar */
	body .navbar-top {
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	body .navbar-top a#active {
		line-height: 30px;
	}

	body .navbar-top a {
		box-sizing: border-box;
		float: left;
		color: white;
		text-align: center;
		padding:  12px;
		text-decoration: none;
		font-size: 13px;
		letter-spacing: 2px;
	}

	body .navbar-top a:hover {
		background-color: #002;
		color: white;
	}

	/* jumbotron */
	body .jumbotron {
		overflow: auto;
		width: 100%;
		background: linear-gradient(black, DeepSkyBlue);
		/*animation-name: changeBackground;
		animation-iteration-count: infinite;
		animation-duration: 2s;*/
	}

	/*@keyframes changeBackground {
		0% {
			background: linear-gradient(to right, #FCF472, #EFDC86);
		}
		50% {
			background: linear-gradient(to left, #F7AEF6, #290128);	
			
		}
		80% {
			background: linear-gradient(#8EE1AB, #94D0F3);
		}
		100%{
			background: linear-gradient(#E691AF, #1C040C);
		}
	}*/

	body #gambar img {
		display: grid;
		margin: auto;
		margin-top: 70px;
		width: 150px;
		height: 150px;
		border: 1px solid aqua;
		border-radius: 50%;
		box-shadow: 5px 5px 5px black;
	}

	body .jumbotron h4 {
		text-align: center;
		font-family: georgia;
		font-size: 18px;
		color: white;
		font-weight: lighter;
		letter-spacing: 2px;
	}

	body .jumbotron h5 {
		line-height: 20px;
		text-align: center;
		font-family: georgia;
		font-size: 15px;
		color: white;
		font-weight: lighter;
		letter-spacing: 2px;
	}

	/* main */
	body .text-center {
		margin: 50px 0;
	}

	body .text-center h2 {
		margin-top: 30px;
		text-align: center;
		font-family: verdana;
		font-size: 20px;
		font-weight: lighter;
	} 

	body .text-center hr {
		width: 100px;
		border-top: 2px solid black;

	}

	body .content p {
		text-align: justify;
		text-indent: 20px;
		margin-top: 50px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: georgia;
		font-size: 12px;
	}

	/* my skills */
	body .text-center1 {
		margin: 20px 0;
	}

	body .text-center1 h2 {
		margin-top: 150px;
		text-align: center;
		font-family: verdana;
		font-size: 20px;
		font-weight: lighter;
	} 

	body .text-center1 hr {
		width: 100px;
		border-top: 2px solid black;

	}

	body .skills {
		width: 300px;
		margin: 60px auto;
		color: white;
		font-size: 12px;
	}

	body .skills li {
		margin: 20px auto;
		list-style: none;
	}

	body .bar {
		background: grey;
		display: block;
		height: 5px;
	/*	border: 1px solid rgba(0,0,0,0.3);*/
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 0 10px #2187e7b3;
	}

	body .bar span {
		height: 5px;
		float: left;
	/*	background: blue;*/
	}

	/* contact me */


	body .text-center2 {
		margin: 20px 0;
	}

	body .text-center2 h2 {
		margin-top: 150px;
		text-align: center;
		font-family: verdana;
		font-size: 20px;
		font-weight: lighter;
	} 

	body .text-center2 hr {
		width: 120px;
		border-top: 2px solid black;

	}

	/* icon */

	body .icon {
		margin: 0 auto;
		overflow: auto;
		text-align: center;
		width: 100%;
	}

	/* icon telp*/

	body .telp img {
		margin-top: 10px;
		width: 40px;
		height: 40px;
	}

	body .icon h4 {
		font-size: 12px;
		letter-spacing: 2px;
	}


	/* icon email */

	.email img {
		margin-top: 10px;
		width: 40px;
		height: 40px;
	}

	/* icon instagram */

	.instagram img {
		margin-top: 10px;
		width: 40px;
		height: 40px;
	}

	/* icon youtube */

	.youtube img {
		margin-top: 10px;
		width: 40px;
		height: 40px;
	}

	/* footer */

	body .footer {
		width: 100%;
		overflow: auto;
		font-family: georgia;
	}

	body .container-footer p {
		text-align: center;
		font-size: 10px;
	}

}





* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgba(10, 10 ,10);
	color: white;
}

/* navbar-top */

.navbar-top {
	position: fixed;
	width: 100%;
	top: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar-top a {
	float: left;
	color: white;
	text-align: center;
	padding:  14px 16px;
	text-decoration: none;
	font-size: 17px;
	letter-spacing: 2px;
}

.navbar-top a:hover {
	background-color: #002;
	color: white;
}

.navbar-top a#active {
	background-color: purple;
	color: white;
}

.navbar-top a#active:hover {
	background-color: aqua;
	color: black;
}

/* jumbotron */

.jumbotron {
	overflow: auto;
	width: 100%;
	height: 400px;
	background: linear-gradient(black, DeepSkyBlue);
}

#gambar img {
	display: grid;
	margin: auto;
	margin-top: 60px;
	width: 200px;
	height: 200px;
	border: 1px solid navy;
	border-radius: 50%;
	box-shadow: 2px 2px 5px black;
	/* add animation */
	animation-name: animate;
	animation-duration: 2s;
	animation-delay: 0.5s;
}

@keyframes animate {
	from {opacity: 0;}
	to {opacity: 1;}
}

.jumbotron h4 {
	text-align: center;
	font-family: georgia;
	font-size: 22px;
	color: white;
	font-weight: lighter;
	letter-spacing: 2px;
	/* add animation */
	animation-name: slide;
	animation-duration: 2s;
	animation-delay: 0.5s;
}

@keyframes slide {
	from {
		opacity: 0;
		transform: translateZ(0px);
	}
	to {
		opacity: 1;
		transform: translateZ(40px);
	}
}

.jumbotron h5 {
	margin-bottom: 20px;
	line-height: 20px;
	text-align: center;
	font-family: georgia;
	font-size: 18px;
	color: white;
	font-weight: lighter;
	letter-spacing: 2px;

}

/* main content */
.text-center {
	margin: 50px 0;
}

.text-center h2 {
	margin-top: 30px;
	text-align: center;
	font-family: verdana;
	font-size: 25px;
	font-weight: lighter;
} 

.text-center hr {
	width: 150px;
	border-top: 2px solid black;

}

.content p {
	text-align: justify;
	text-indent: 20px;
	margin-top: 50px;
	padding-left: 5px;
	padding-right: 10px;
	font-family: georgia;
}

/* my skills */

.text-center1 {
	margin: 20px 0;
}

.text-center1 h2 {
	margin-top: 150px;
	text-align: center;
	font-family: verdana;
	font-size: 25px;
	font-weight: lighter;
} 

.text-center1 hr {
	width: 150px;
	border-top: 2px solid black;

}

.skills {
	width: 500px;
	margin: 60px auto;
	color: white;
}

.skills li {
	margin: 20px auto;
	list-style: none;
}

.bar {
	background: grey;
	display: block;
	height: 5px;
/*	border: 1px solid rgba(0,0,0,0.3);*/
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
	height: 5px;
	float: left;
/*	background: blue;*/
}

.html {
	background: red;
	width: 90%;

}

.css {
	background: blue;
	width: 85%;

}

.javascript {
	background: yellow;
	width: 60%;

}

/* add animation */

.html {
	animation-name: lebar;
	animation-duration: 4s;
}

@keyframes lebar {
	from { width: 0; }
	to { width: 90%; }

}
.css {
	animation-name: lebar1;
	animation-duration: 4s;
}

@keyframes lebar1 {
	from { width: 0; }
	to { width: 70%; }

}


.javascript {
	animation-name: lebar2;
	animation-duration: 4s;
}

@keyframes lebar2 {
	from { width: 0; }
	to { width: 40%; }

}


/* contact me */


.text-center2 {
	margin: 20px 0;
}

.text-center2 h2 {
	margin-top: 150px;
	text-align: center;
	font-family: verdana;
	font-size: 25px;
	font-weight: lighter;
} 

.text-center2 hr {
	width: 150px;
	border-top: 2px solid black;

}

/* icon */

.icon {
	margin: 0 auto;
	overflow: auto;
	text-align: center;
	width: 100%;
}

/* icon telp*/

.telp img {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}


/* icon email */

.email img {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}

/* icon instagram */

.instagram img {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}

/* icon youtube */

.youtube img {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}

h4 {
	font-family: georgia;
	font-size: 17px;
	font-weight: lighter;
}

/* footer */

.footer {
	clear: both;
	margin-top: 150px;
	font-family: georgia;
	font-size: 16px;
}


.container-footer { 
	position: sticky;
	bottom: 0;
	width: 100%;
	height: 150px;
	background: linear-gradient(blue, black);
	letter-spacing: 2px;
}

.container-footer p {
	text-align: center;
	line-height: 150px;
}


.container-footer a {
	color: red;
}